/* TAG SELECTORS */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    margin: 50px auto 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Caveat', cursive;
    font-size: 5.62rem; /*or 90px or 562% */
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3{
    font-family: 'Montserrat', sans-serif;
}
/* CLASSES SELECTORS */

.top-container{
    background-color: #fbeeac;
    position: relative;
    padding-top: 5%;
}

.topCloud{
    position: absolute;
    right: 200px;
    top: 7%;
}

.bottomCloud{
    position: absolute;
    left: 200px;
    bottom: 250px;
}

.profilePic{
    width: 280px;
}

.skill_logo{
    width: 170px;
}

.middle-container{
    
}
.bottom-container{
    
}