/* TAG SELECTORS */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    margin: 50px auto 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Caveat', cursive;
    font-size: 5.62rem; /*or 90px or 562% */
    color:  #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
/* CLASSES SELECTORS */

.top-container{
    background-color: #fbeeac;
    position: relative;
    padding-top: 5%;
}

.topCloud{
    position: absolute;
    right: 200px;
    top: 7%;
}

.bottomCloud{
    position: absolute;
    left: 200px;
    bottom: 250px;
}

.profilePic{
    width: 280px;
}

.C_logo{
    width: 150px;
    float: left;
    margin-right: 10px;
}

.tf_logo{
    width: 150px;
    float: right;
    margin-left: 20px;
}
.middle-container{
    
}
.bottom-container{
    
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.footer-link{
    color: #11999E;
}

.a_programmer{
    font-weight: normal;
}