/* TAG SELECTORS */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    margin: 50px auto 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Caveat', cursive;
    font-size: 5.62rem; /*or 90px or 562% */
    color:  #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    color: #40514E;
    line-height: 2;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 9px;
    width: 7%;
    color: #b4b8b8;
    margin: 140px auto;
}

/* CLASSES SELECTORS */

.top-container{
    background-color: #fbeeac;
    position: relative;
    padding-top: 5%;
}

.topCloud{
    position: absolute;
    right: 200px;
    top: 7%;
}

.bottomCloud{
    position: absolute;
    left: 200px;
    bottom: 250px;
}

.mountain{
    position: relative;
    top: 4px;
}

.profilePic{
    width: 220px;
}

.C_logo{
    width: 150px;
    float: left;
    margin-right: 10px;
}

.tf_logo{
    width: 150px;
    float: right;
    margin-left: 20px;
}

.bottom-container{
    margin: 50px auto 0;
    background-color: #66BFBF;
    padding: 40px;
}

.copyright{
    color: #EAF6F6;
    margin: 20px auto 5px auto;
    font-size: 0.75rem;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.footer-link{
    color: #11999E;
    margin: 40px 20px;
    text-decoration: none;
}

.footer-link:hover{
    color: #EAF6F6;
}

.a_programmer{
    font-weight: normal;
}

.profile{
    width: 50%;
    margin: 100px auto;
}

.contactPara{
    width: 40%;
    margin: 50px auto;
}

.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #66BFBF);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding: 10px 1rem;
    /* -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000; */
    border: solid #337FED 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 0px auto;
 }
 
 .btn:hover {
    border: solid #337FED 0px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #66BFBF);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 8px;
    text-decoration: none;
 }